name: Test - Dependencies
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  coola:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: coola
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).coola) }}

  matplotlib:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: matplotlib
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).matplotlib) }}

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}

  scikit-learn:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: scikit-learn
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).scikit-learn) }}


  #################################
  #     Optional dependencies     #
  #################################

  objectory:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: objectory
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).objectory) }}

  colorlog:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: colorlog
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).colorlog) }}

  hydra-core:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: hydra-core
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).hydra-core) }}

  hya:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: hya
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).hya) }}

  omegaconf:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: omegaconf
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).omegaconf) }}

  markdown:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: markdown
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).markdown) }}

  scipy:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: scipy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).scipy) }}

  tqdm:
    needs: get-versions
    uses: ./.github/workflows/test-code-dep.yaml
    with:
      package-name: tqdm
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).tqdm) }}
